data/*
notebooks/wandb/
.idea/
__pychache__/
.vscode/
.ipynb_checkpoints/
wandb/
venv/
!models/GUTS-1.bin
!models/GUTS-2.bin

!data/small_wiki_paragraphs.csv
!data/all_wiki_paragraphs.csv
!data/tc_eval.csv
!data/wiki_eval.csv


__pycache__/
